body{margin: 0px;
         padding: 0px;
         width: 100%;}
#start{
    color: white;
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    position: absolute;
    top:10px;
    
}
main img{width: 100%;
         }

   

/* 추가 css */
#container{
    position: absolute;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left:150px;
}

ul{
    list-style: none;
    font-size : 40px;
    padding: 0px;
}
a{
    text-decoration: none;
    color:white;
}


 /* swiper left, right 버튼 디자인  */
 .visual .arrow{
    position: absolute;
    top: 50%;
    z-index: 100;
    margin-top: -20px;
    cursor: pointer;

}
.visual{margin: 0px auto;}

.visual #next{
    left: 10px;
}
.visual #prev{
    right: 10px;
}

/* swiper */
.visual .swiper-container{
    max-width: 1920px;
    margin: 0 auto;            
    position: relative; 
}
.visual img{
    vertical-align: top;
    width: 100%;  
}

.swiper-container{
    width: 100%;
}    


/* swiper 하단 버튼 디자인  */
.visual .swiper-pagination{
    position: absolute;
    left: 0;
    bottom: 3%;
    z-index: 100;            
    text-align: center;
}
.visual .swiper-pagination .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background: #fff;
    opacity: 1;
}
.visual .swiper-pagination .swiper-pagination-bullet-active{
    background: #ff6600;
}
